@media(max-width: 650px){
    .header{
        flex-direction: column;
    }

    .logo h1{
        font-size: 4rem;
    }

    .menu{
        flex-direction: column;
        margin-top: 5rem;
    }

    .menu li{
        padding: 3.3rem 0;
    }

    .menu li:last-child{
        margin-top: 2rem;
    }

    .menu li a{
        font-size: 4rem;
        padding: 1.7rem 4rem;
    }

    .menu li a.btn{
        font-size: 1.8rem;
        padding: 1.5rem 2.3rem;
    }
}