html{
    font-size: 62.5%;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 4.5rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 2rem;
    margin-left: 0.5rem;
}

.menu{
    display: flex;
    align-items: center;
    
}

.menu li a{
    padding: 1rem .5rem;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.menu li a:hover{
    background-color: #5BC241;
    color: #fff;
}

.menu li a.btn{
    background-color: #5BC241;
    color: #fff;
    border-radius: 1rem;
    margin-left: 2rem;
    padding: 1rem 2rem;
}